<h2 class="product-title">Desserts</h2>
<div class="product-list-card-container">
    <div class="product-card" *ngFor="let product of productList">
        <div class="product-card-top">
            <div class="card-img-container">
                <img src="{{product.image.desktop}}" alt="{{product.name}}">
            </div>
            <div class="card-btn-container">
                <button class="add-to-cart-button">
                    <img src="/images/icon-add-to-cart.svg" alt="add to cart icon">
                    <span class="btn-text">Add to Cart</span>
                </button>
            </div>
        </div>
        <div class="product-card-bottom">
            <p class="product-type">{{product.category}}</p>
            <p class="product-name">{{product.name}}</p>
            <p class="product-amount">${{product.price}}</p>
        </div>
    </div>
</div>
